<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on SWYRT at the
  <a href="http://railstutorial.org/help">Say What You Really Think help page</a>.
  To get help on the SWYRT app, see the
  <a href="http://swyrt.com/book">Say What You Really Think book</a>.
</p>